In [74]:
import pandas as pd
import numpy as np

df = pd.read_csv("/Users/jinyeonglee/BigData_Certification/Data/mtcars.csv")
df.head()

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [75]:
# â­•ï¸ ë¬¸ì œ 1) mpg ë³€ìˆ˜ì˜ ì œ 1ì‚¬ë¶„ìœ„ìˆ˜ë¥¼ êµ¬í•˜ê³  ì •ìˆ˜ê°’ìœ¼ë¡œ ì¶œë ¥í•˜ì‹œì˜¤
mpg_q1 = df['mpg'].quantile(.25)
round(mpg_q1)

15

In [76]:
# â­•ï¸ ë¬¸ì œ 2) mpg ê°’ì´ 19 ì´ìƒ 21 ì´í•˜ì¸ ë°ì´í„°ì˜ ìˆ˜ë¥¼ êµ¬í•˜ì‹œì˜¤.
cond1 = df['mpg'] >= 19
cond2 = df['mpg'] <= 21
len(df[cond1 & cond2])

5

In [77]:
# â­•ï¸ ë¬¸ì œ 3) hp ë³€ìˆ˜ì˜ IQR ê°’ì„ êµ¬í•˜ì‹œì˜¤
# IQR = Q3 - Q1
hp_q1 = df['hp'].quantile(.25)
hp_q3 = df['hp'].quantile(.75)
hp_IQR = hp_q3 - hp_q1
hp_IQR

83.5

In [78]:
df['wt'].describe()

count    32.000000
mean      3.217250
std       0.978457
min       1.513000
25%       2.581250
50%       3.325000
75%       3.610000
max       5.424000
Name: wt, dtype: float64

In [79]:
# ðŸ”º ë¬¸ì œ 4) wt ë³€ìˆ˜ì˜ ìƒìœ„ 10ê°œ ê°’ì˜ ì´í•©ì„ êµ¬í•˜ì—¬ ì†Œìˆ˜ì ì„ ë²„ë¦¬ê³  ì •ìˆ˜ë¡œ ì¶œë ¥í•˜ì‹œì˜¤.	
# round(df['wt'].sort_values(ascending=False).head(10).sum())
int(df['wt'].sort_values(ascending=False).head(10).sum())

# â–¶ï¸ round()ëŠ” ë°˜ì˜¬ë¦¼í•˜ëŠ” í•¨ìˆ˜ì´ê¸° ë•Œë¬¸ì— ì†Œìˆ˜ì ì„ ë²„ë¦¬ë ¤ë©´ int()ê°€ ë” ì ì ˆí•˜ë‹¤.

42

In [80]:
# â­•ï¸ ë¬¸ì œ 5) ì „ì²´ ìžë™ì°¨ì—ì„œ cylê°€ 6ì¸ ë¹„ìœ¨ì´ ì–¼ë§ˆì¸ì§€ ì†Œìˆ˜ì  ì²«ì§¸ ìžë¦¬ê¹Œì§€ ì¶œë ¥í•˜ì‹œì˜¤.
cond_cyl = (df['cyl'] == 6)
round(len(df[cond_cyl]) / len(df['cyl']), 1)

0.2

In [81]:
# â­•ï¸ ë¬¸ì œ 6) ì²«ë²ˆì§¸ í–‰ë¶€í„° ìˆœì„œëŒ€ë¡œ 10ê°œ ë½‘ì€ í›„ mpg ì—´ì˜ í‰ê· ê°’ì„ ë°˜ì˜¬ë¦¼í•˜ì—¬ ì •ìˆ˜ë¡œ ì¶œë ¥í•˜ì‹œì˜¤.
df10 = df.head(10)
round(df10['mpg'].mean())

20

In [82]:
# â­•ï¸ ë¬¸ì œ 7) ì²«ë²ˆì§¸ í–‰ë¶€í„° ìˆœì„œëŒ€ë¡œ 50%ê¹Œì§€ ë°ì´í„°ë¥¼ ë½‘ì•„ wt ë³€ìˆ˜ì˜ ì¤‘ì•™ê°’ì„ êµ¬í•˜ì‹œì˜¤.
df_half = df.head(int(len(df)*0.5))
df_half['wt'].median()

3.44

In [83]:
# âŒ ë¬¸ì œ 8) ë‹¤ìŒ ë°ì´í„°ì—ì„œ ê²°ì¸¡ê°’ì´ ìžˆëŠ” ë°ì´í„°ì˜ ìˆ˜ë¥¼ ì¶œë ¥í•˜ì‹œì˜¤.

# ë°ì´í„° ìƒì„±
df = pd.DataFrame( 
    {
        'ë‚ ì§œ': ['20220103','20220105', None,'20230127','20220203', '20220205', '20230210','20230223','20230312','20230422', '20220505', '20230511'],
        'ì œí’ˆ' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
        'íŒë§¤ìˆ˜': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
        'ê°œë‹¹ìˆ˜ìµ': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] 
    }
)

df.isnull().sum().sum()

5

In [84]:
# âŒ ë¬¸ì œ 9) 'íŒë§¤ìˆ˜' ì»¬ëŸ¼ì˜ ê²°ì¸¡ê°’ì„ íŒë§¤ìˆ˜ì˜ ì¤‘ì•™ê°’ìœ¼ë¡œ ëŒ€ì²´í•˜ê³  íŒë§¤ìˆ˜ì˜ í‰ê· ê°’ì„ ë°˜ì˜¬ë¦¼í•˜ì—¬ ì •ìˆ˜ë¡œ ì¶œë ¥í•˜ì‹œì˜¤.
df = pd.DataFrame( 
    {
        'ë‚ ì§œ': ['20220103','20220105', None,'20230127','20220203', '20220205', '20230210','20230223','20230312','20230422', '20220505', '20230511'],
        'ì œí’ˆ' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
        'íŒë§¤ìˆ˜': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
        'ê°œë‹¹ìˆ˜ìµ': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] 
    }
)

# íŒë§¤ìˆ˜ ì¤‘ì•™ê°’ ê³„ì‚°
soldCounts_median = df['íŒë§¤ìˆ˜'].median()
soldCounts_median

# íŒë§¤ìˆ˜ ê²°ì¸¡ê°’ ì¤‘ì•™ê°’ìœ¼ë¡œ ëŒ€ì²´
df['íŒë§¤ìˆ˜'] = df['íŒë§¤ìˆ˜'].fillna(soldCounts_median)

# íŒë§¤ìˆ˜ì˜ í‰ê· ê°’ì„ ë°˜ì˜¬ë¦¼í•˜ì—¬ ì •ìˆ˜ë¡œ ì¶œë ¥
round(df['íŒë§¤ìˆ˜'].mean())

15

In [88]:
# ë¬¸ì œ 10) íŒë§¤ìˆ˜ ì»¬ëŸ¼ì— ê²°ì¸¡ì¹˜ê°€ ìžˆëŠ” í–‰ì„ ì œê±°í•˜ê³ , ì²«ë²ˆì§¸ í–‰ë¶€í„° ìˆœì„œëŒ€ë¡œ 50%ê¹Œì§€ì˜ ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ì—¬ íŒë§¤ìˆ˜ ë³€ìˆ˜ì˜ Q1(ì œ1ì‚¬ë¶„ìœ„ìˆ˜)ê°’ì„ ë°˜ì˜¬ë¦¼í•˜ì—¬ ì •ìˆ˜ë¡œ ì¶œë ¥í•˜ì‹œì˜¤.
df = pd.DataFrame( 
    {
        'ë‚ ì§œ': ['20220103','20220105', None,'20230127','20220203', '20220205', '20230210','20230223','20230312','20230422', '20220505', '20230511'],
        'ì œí’ˆ' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
        'íŒë§¤ìˆ˜': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
        'ê°œë‹¹ìˆ˜ìµ': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] 
    }
)

# íŒë§¤ìˆ˜ ì»¬ëŸ¼ì˜ ê²°ì¸¡ì¹˜ í–‰ ì œê±°
df = df['íŒë§¤ìˆ˜'].dropna(axis=0)
df

#

0      3.0
2      5.0
3     10.0
4     10.0
5     10.0
6     15.0
7     15.0
8     20.0
10    30.0
11    40.0
Name: íŒë§¤ìˆ˜, dtype: float64