In [74]:
import pandas as pd
import numpy as np

df = pd.read_csv("/Users/jinyeonglee/BigData_Certification/Data/mtcars.csv")
df.head()

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [75]:
# ⭕️ 문제 1) mpg 변수의 제 1사분위수를 구하고 정수값으로 출력하시오
mpg_q1 = df['mpg'].quantile(.25)
round(mpg_q1)

15

In [76]:
# ⭕️ 문제 2) mpg 값이 19 이상 21 이하인 데이터의 수를 구하시오.
cond1 = df['mpg'] >= 19
cond2 = df['mpg'] <= 21
len(df[cond1 & cond2])

5

In [77]:
# ⭕️ 문제 3) hp 변수의 IQR 값을 구하시오
# IQR = Q3 - Q1
hp_q1 = df['hp'].quantile(.25)
hp_q3 = df['hp'].quantile(.75)
hp_IQR = hp_q3 - hp_q1
hp_IQR

83.5

In [78]:
df['wt'].describe()

count    32.000000
mean      3.217250
std       0.978457
min       1.513000
25%       2.581250
50%       3.325000
75%       3.610000
max       5.424000
Name: wt, dtype: float64

In [79]:
# 🔺 문제 4) wt 변수의 상위 10개 값의 총합을 구하여 소수점을 버리고 정수로 출력하시오.	
# round(df['wt'].sort_values(ascending=False).head(10).sum())
int(df['wt'].sort_values(ascending=False).head(10).sum())

# ▶️ round()는 반올림하는 함수이기 때문에 소수점을 버리려면 int()가 더 적절하다.

42

In [80]:
# ⭕️ 문제 5) 전체 자동차에서 cyl가 6인 비율이 얼마인지 소수점 첫째 자리까지 출력하시오.
cond_cyl = (df['cyl'] == 6)
round(len(df[cond_cyl]) / len(df['cyl']), 1)

0.2

In [81]:
# ⭕️ 문제 6) 첫번째 행부터 순서대로 10개 뽑은 후 mpg 열의 평균값을 반올림하여 정수로 출력하시오.
df10 = df.head(10)
round(df10['mpg'].mean())

20

In [82]:
# ⭕️ 문제 7) 첫번째 행부터 순서대로 50%까지 데이터를 뽑아 wt 변수의 중앙값을 구하시오.
df_half = df.head(int(len(df)*0.5))
df_half['wt'].median()

3.44

In [83]:
# ❌ 문제 8) 다음 데이터에서 결측값이 있는 데이터의 수를 출력하시오.

# 데이터 생성
df = pd.DataFrame( 
    {
        '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205', '20230210','20230223','20230312','20230422', '20220505', '20230511'],
        '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
        '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
        '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] 
    }
)

df.isnull().sum().sum()

5

In [84]:
# ❌ 문제 9) '판매수' 컬럼의 결측값을 판매수의 중앙값으로 대체하고 판매수의 평균값을 반올림하여 정수로 출력하시오.
df = pd.DataFrame( 
    {
        '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205', '20230210','20230223','20230312','20230422', '20220505', '20230511'],
        '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
        '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
        '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] 
    }
)

# 판매수 중앙값 계산
soldCounts_median = df['판매수'].median()
soldCounts_median

# 판매수 결측값 중앙값으로 대체
df['판매수'] = df['판매수'].fillna(soldCounts_median)

# 판매수의 평균값을 반올림하여 정수로 출력
round(df['판매수'].mean())

15

In [88]:
# 문제 10) 판매수 컬럼에 결측치가 있는 행을 제거하고, 첫번째 행부터 순서대로 50%까지의 데이터를 추출하여 판매수 변수의 Q1(제1사분위수)값을 반올림하여 정수로 출력하시오.
df = pd.DataFrame( 
    {
        '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205', '20230210','20230223','20230312','20230422', '20220505', '20230511'],
        '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
        '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
        '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] 
    }
)

# 판매수 컬럼의 결측치 행 제거
df = df['판매수'].dropna(axis=0)
df

#

0      3.0
2      5.0
3     10.0
4     10.0
5     10.0
6     15.0
7     15.0
8     20.0
10    30.0
11    40.0
Name: 판매수, dtype: float64