# ì œ 3ìœ í˜• - ì¹´ì´ì œê³± ê²€ì •

## âœ… ë¶„ì„ Case
### Case 1. ì í•©ë„ ê²€ì • - ê° ë²”ì£¼ì— ì†í•  í™•ë¥ ì´ ê°™ì€ì§€?
### Case 2. ë…ë¦½ì„± ê²€ì • - ë‘ ê°œì˜ ë²”ì£¼í˜• ë³€ìˆ˜ê°€ ì„œë¡œ ë…ë¦½ì¸ì§€?

### âœ… ê°€ì„¤ê²€ì • ìˆœì„œ(ì¤‘ìš”!)
> 1. ê°€ì„¤ ì„¤ì •
> 2. ìœ ì˜ìˆ˜ì¤€ í™•ì¸
> 3. ê²€ì •ì‹¤ì‹œ(í†µê³„ëŸ‰, p-value í™•ì¸, ê¸°ëŒ€ë¹ˆë„ í™•ì¸)
> 4. ê·€ë¬´ê°€ì„¤ ê¸°ê°ì—¬ë¶€ ê²°ì •(ì±„íƒ/ê¸°ê°)

#### ì˜ˆì œ ë¬¸ì œ           
#### Case1. ì í•©ë„ ê²€ì • - ê° ë²”ì£¼ì— ì†í•  í™•ë¥ ì´ ê°™ì€ì§€?
##### ë¬¸ì œ 1-1
ëœë¤ë°•ìŠ¤ì— ìƒí’ˆ A, B, C, Dê°€ ë“¤ì–´ìˆë‹¤.      
ë‹¤ìŒì€ ëœë¤ë°•ìŠ¤ì—ì„œ 100ë²ˆ ìƒí’ˆì„ êº¼ëƒˆì„ ë•Œì˜ ìƒí’ˆ ë°ì´í„°ë¼ê³  í•  ë•Œ      
ìƒí’ˆì´ ë™ì¼í•œ ë¹„ìœ¨ë¡œ ë“¤ì–´ìˆë‹¤ê³  í•  ìˆ˜ ìˆëŠ”ì§€ ê²€ì •í•´ë³´ì‹œì˜¤.

In [95]:
import pandas as pd
import numpy as np

In [96]:
# ë°ì´í„° ìƒì„±
row1 = [30, 20, 15, 35]
df = pd.DataFrame([row1], columns=['A','B','C', 'D']) 
df

    A   B   C   D
0  30  20  15  35

##### 1. ê°€ì„¤ ì„¤ì •
H0 : ëœë¤ë°•ìŠ¤ì— ìƒí’ˆ A, B, C, Dê°€ ë™ì¼í•œ ë¹„ìœ¨ë¡œ ë“¤ì–´ ìˆë‹¤.      
H1 : ëœë¤ë°•ìŠ¤ì— ìƒí’ˆ A, B, C, Dê°€ ë™ì¼í•œ ë¹„ìœ¨ë¡œ ë“¤ì–´ ìˆì§€ ì•Šë‹¤.

##### 2. ìœ ì˜ìˆ˜ì¤€ í™•ì¸
ë¬¸ì œì—ì„œ 0.05ë¡œ ì œê³µ

##### 3. ê²€ì •ì‹¤ì‹œ(í†µê³„ëŸ‰, p-value í™•ì¸, ê¸°ëŒ€ë¹ˆë„ í™•ì¸)

In [97]:
import scipy.stats as stats
from scipy.stats import chisquare
# chisquare(f_obs=f_obs, f_exp=f_exp)       # ê´€ì¸¡ê°’, ê¸°ëŒ€ê°’

# ê´€ì¸¡ê°’ (ë¹ˆë„)ê³¼ ê¸°ëŒ€ê°’ (ë¹ˆë„) êµ¬í•˜ê¸° (ê°ê° êµ¬í•´ì„œ ë„£ì–´ì¤˜ì•¼í•¨)
f_obs = [30, 20, 15, 35]
f_exp = [25, 25, 25, 25]

statistic, pvalue = stats.chisquare(f_obs=f_obs, f_exp=f_exp)
print(statistic)
print(pvalue)

10.0
0.01856613546304325

##### 4. ê·€ë¬´ê°€ì„¤ ê¸°ê°ì—¬ë¶€ ê²°ì •
p-value=0.018ë¡œ ìœ ì˜ìˆ˜ì¤€ 0.05ë³´ë‹¤ ì‘ê¸° ë•Œë¬¸ì— ê·€ë¬´ê°€ì„¤ì„ ê¸°ê°í•œë‹¤.      
ì¦‰, ëœë¤ë°•ìŠ¤ì— ìƒí’ˆ A, B, C, Dê°€ ë™ì¼í•œ ë¹„ìœ¨ë¡œ ë“¤ì–´ìˆì§€ ì•Šë‹¤ê³  í•  ìˆ˜ ìˆë‹¤.

#### ë¬¸ì œ 1-2
ëœë¤ë°•ìŠ¤ì— ìƒí’ˆ A, B, Cê°€ ë“¤ì–´ìˆë‹¤.     
ë‹¤ìŒì€ ëœë¤ë°•ìŠ¤ì—ì„œ 150ë²ˆ ìƒí’ˆì„ êº¼ëƒˆì„ ë•Œì˜ ìƒí’ˆ ë°ì´í„°ë¼ê³  í•  ë•Œ      
ìƒí’ˆë³„ë¡œ A 30%, B 15%, C 55% ë¹„ìœ¨ë¡œ ë“¤ì–´ìˆë‹¤ê³  í•  ìˆ˜ ìˆëŠ”ì§€ ê²€ì •í•´ë³´ì‹œì˜¤.

In [98]:
import pandas as pd
import numpy as np

In [99]:
# ë°ì´í„° ìƒì„±
row1 = [50,25,75]
df = pd.DataFrame([row1], columns=['A','B','C']) 
df

    A   B   C
0  50  25  75

##### 1. ê°€ì„¤ ì„¤ì •
H0 : ëœë¤ë°•ìŠ¤ì— ìƒí’ˆì´ A 30%, B 15%, C 55%ì˜ ë¹„ìœ¨ë¡œ ë“¤ì–´ìˆë‹¤.           
H1 : ëœë¤ë°•ìŠ¤ì— ìƒí’ˆì´ A 30%, B 15%, C 55%ì˜ ë¹„ìœ¨ë¡œ ë“¤ì–´ìˆì§€ ì•Šë‹¤.

##### 2. ìœ ì˜ìˆ˜ì¤€ í™•ì¸
0.05 ìˆ˜ì¤€

##### 3. ê²€ì •ì‹¤ì‹œ(í†µê³„ëŸ‰, p-value í™•ì¸, ê¸°ëŒ€ë¹ˆë„ í™•ì¸)

In [100]:
import scipy.stats as stats


f_obs = [50, 25, 75]
f_exp = [45, 22.5, 82.5]
# a = 150*0.3
# b = 150*0.15
# c = 150*0.55
# f_exp = [a, b, c]

statistic, pvalue = stats.chisquare(f_obs=f_obs, f_exp=f_exp)
print(statistic)
print(pvalue)

1.5151515151515151
0.46880153914023537

##### 4. ê·€ë¬´ê°€ì„¤ ê¸°ê°ì—¬ë¶€ ê²°ì •
p-value=0.469ë¡œ ìœ ì˜ìˆ˜ì¤€ 0.05ë³´ë‹¤ í¬ë¯€ë¡œ ê·€ë¬´ê°€ì„¤ì„ ì±„íƒí•œë‹¤.           
ì¦‰ ëœë¤ë°•ìŠ¤ì— ìƒí’ˆì´ A 30%, B 15%, C 55%ì˜ ë¹„ìœ¨ë¡œ ë“¤ì–´ìˆë‹¤ê³  í•  ìˆ˜ ìˆë‹¤.

#### Case2. ë…ë¦½ì„± ê²€ì • - ë‘ ê°œì˜ ë²”ì£¼í˜• ë³€ìˆ˜ê°€ ì„œë¡œ ë…ë¦½ì¸ì§€?
#### ë¬¸ì œ 2-1
ì—°ë ¹ëŒ€ì— ë”°ë¼ ë¨¹ëŠ” ì•„ì´ìŠ¤í¬ë¦¼ì˜ ì°¨ì´ê°€ ìˆëŠ”ì§€ ë…ë¦½ì„± ê²€ì •ì„ ì‹¤ì‹œí•˜ì‹œì˜¤.

In [101]:
import pandas as pd
import numpy as np

In [102]:
# ë°ì´í„° ìƒì„±
row1, row2 = [200, 190, 250], [220, 250, 300]
df = pd.DataFrame([row1, row2], columns=['ë”¸ê¸°','ì´ˆì½”','ë°”ë‹ë¼'], index=['10ëŒ€', '20ëŒ€']) 
df

      ë”¸ê¸°   ì´ˆì½”  ë°”ë‹ë¼
10ëŒ€  200  190  250
20ëŒ€  220  250  300

##### 1. ê°€ì„¤ ì„¤ì •
H0 : ì—°ë ¹ëŒ€ì™€ ë¨¹ëŠ” ì•„ì´ìŠ¤í¬ë¦¼ì˜ ì¢…ë¥˜ëŠ” ì„œë¡œ ê´€ë ¨ì´ ì—†ë‹¤. (ë‘ ë³€ìˆ˜ëŠ” ì„œë¡œ ë…ë¦½ì´ë‹¤.)             
H1 : ì—°ë ¹ëŒ€ì™€ ë¨¹ëŠ” ì•„ì´ìŠ¤í¬ë¦¼ì˜ ì¢…ë¥˜ëŠ” ì„œë¡œ ê´€ë ¨ì´ ìˆë‹¤. (ë‘ ë³€ìˆ˜ëŠ” ì„œë¡œ ë…ë¦½ì´ ì•„ë‹ˆë‹¤.)

##### 2. ìœ ì˜ìˆ˜ì¤€ í™•ì¸
ìœ ì˜ìˆ˜ì¤€ 5%

##### 3. ê²€ì •ì‹¤ì‹œ(í†µê³„ëŸ‰, p-value í™•ì¸, ê¸°ëŒ€ë¹ˆë„ í™•ì¸)

In [103]:
df.iloc[0]

ë”¸ê¸°     200
ì´ˆì½”     190
ë°”ë‹ë¼    250
Name: 10ëŒ€, dtype: int64

In [104]:
import scipy.stats as stats
statistic, pvalue, dof, expected = stats.chi2_contingency(df)
# statistic, pvalue, dof, expected = stats.chi2_contingency([df.iloc[0], df.iloc[1]])

print("statistic : ", statistic)
print(pvalue)
print(dof)
print(expected)
# print(stats.chi2_contingency([df.iloc[0], df.iloc[1]]))

statistic :  1.708360126075226
0.4256320394874311
2
[[190.63829787 199.71631206 249.64539007]
 [229.36170213 240.28368794 300.35460993]]

##### 4. ê·€ë¬´ê°€ì„¤ ê¸°ê°ì—¬ë¶€ ê²°ì •
p-value=0.425ë¡œ ìœ ì˜ìˆ˜ì¤€ 0.05ë³´ë‹¤ í¬ë¯€ë¡œ ê·€ë¬´ê°€ì„¤ì„ ì±„íƒí•œë‹¤.           
ì¦‰, ì—°ë ¹ëŒ€ì™€ ë¨¹ëŠ” ì•„ì´ìŠ¤í¬ë¦¼ì˜ ì¢…ë¥˜ëŠ” ì„œë¡œ ì—°ê´€ì´ ì—†ë‹¤ê³  í•  ìˆ˜ ìˆë‹¤.

#### (ì¶”ê°€) ë§Œì•½ ë°ì´í„° í˜•íƒœê°€ ë‹¤ë¥¼ ê²½ìš°?

In [105]:
# â˜… tip : pd.crosstab() ì‚¬ìš©ë°©ë²•
# (Case1) ë§Œì•½ ë°ì´í„°ê°€ ì•„ë˜ì™€ ê°™ì´ ì£¼ì–´ì§„ë‹¤ë©´? 
df = pd.DataFrame({
    'ì•„ì´ìŠ¤í¬ë¦¼' : ['ë”¸ê¸°','ì´ˆì½”','ë°”ë‹ë¼','ë”¸ê¸°','ì´ˆì½”','ë°”ë‹ë¼'], 
    'ì—°ë ¹' : ['10ëŒ€','10ëŒ€','10ëŒ€','20ëŒ€','20ëŒ€','20ëŒ€'],
    'ì¸ì›' : [200,190,250,220,250,300]
    })
df

  ì•„ì´ìŠ¤í¬ë¦¼   ì—°ë ¹   ì¸ì›
0    ë”¸ê¸°  10ëŒ€  200
1    ì´ˆì½”  10ëŒ€  190
2   ë°”ë‹ë¼  10ëŒ€  250
3    ë”¸ê¸°  20ëŒ€  220
4    ì´ˆì½”  20ëŒ€  250
5   ë°”ë‹ë¼  20ëŒ€  300

ìœ„ì˜ í˜•íƒœë¼ë©´ crosstabì„ ì‚¬ìš©í•˜ì—¬ í…Œì´ë¸” êµì°¨í‘œë¥¼ ë§Œë“¤ì–´ì•¼í•¨.

In [106]:
# pd.crosstab(index =  , columns = , values = , aggfunc=sum)
table = pd.crosstab(index=df['ì—°ë ¹'], columns=df['ì•„ì´ìŠ¤í¬ë¦¼'], values=df['ì¸ì›'], aggfunc=sum) 
table
# ì£¼ì˜ : index, columnsì— ìˆœì„œë¥¼ ê¼­ í™•ì¸í•˜ê¸°
# print(table)

/var/folders/nd/15xtnd395pg10gvt9rfk1h8w0000gn/T/ipykernel_48292/3441812656.py:2: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  table = pd.crosstab(index=df['ì—°ë ¹'], columns=df['ì•„ì´ìŠ¤í¬ë¦¼'], values=df['ì¸ì›'], aggfunc=sum)

ì•„ì´ìŠ¤í¬ë¦¼   ë”¸ê¸°  ë°”ë‹ë¼   ì´ˆì½”
ì—°ë ¹
10ëŒ€    200  250  190
20ëŒ€    220  300  250

êµì°¨í‘œ ë§Œë“  ë’¤ ê²€ì • ì‹¤ì‹œí•˜ë©´ ë¨

In [107]:
import scipy.stats as stats
print(stats.chi2_contingency(table))

Chi2ContingencyResult(statistic=1.708360126075226, pvalue=0.4256320394874311, dof=2, expected_freq=array([[190.63829787, 249.64539007, 199.71631206],
       [229.36170213, 300.35460993, 240.28368794]]))

In [108]:
# (ğŸ”º ì¤‘ìš”! Case2) ë§Œì•½ ë°ì´í„°ê°€ ì•„ë˜ì™€ ê°™ì´ ì£¼ì–´ì§„ë‹¤ë©´? # (ì´í•´ë¥¼ ìœ„í•œ ì°¸ê³ ìš©ì…ë‹ˆë‹¤, ë¹ˆë„ìˆ˜ ì¹´ìš´íŒ…)
df = pd.DataFrame({
    'ì•„ì´ìŠ¤í¬ë¦¼' : ['ë”¸ê¸°','ì´ˆì½”','ë°”ë‹ë¼','ë”¸ê¸°','ì´ˆì½”','ë°”ë‹ë¼'],
    'ì—°ë ¹' : ['10ëŒ€','10ëŒ€','10ëŒ€','20ëŒ€','20ëŒ€','20ëŒ€']
})
df

  ì•„ì´ìŠ¤í¬ë¦¼   ì—°ë ¹
0    ë”¸ê¸°  10ëŒ€
1    ì´ˆì½”  10ëŒ€
2   ë°”ë‹ë¼  10ëŒ€
3    ë”¸ê¸°  20ëŒ€
4    ì´ˆì½”  20ëŒ€
5   ë°”ë‹ë¼  20ëŒ€

In [111]:
# ë¹ˆë„ìˆ˜ë¥¼ ì¹´ìš´íŠ¸ í•´ì•¼ í•  ë•Œë„ crosstabì„ ì‚¬ìš©í•˜ì—¬ êµì°¨í‘œë¥¼ ë§Œë“¤ê³  ê²€ì • ì‹¤ì‹œ
table2 = pd.crosstab(df['ì—°ë ¹'], df['ì•„ì´ìŠ¤í¬ë¦¼'])
table2

ì•„ì´ìŠ¤í¬ë¦¼  ë”¸ê¸°  ë°”ë‹ë¼  ì´ˆì½”
ì—°ë ¹
10ëŒ€     1    1   1
20ëŒ€     1    1   1

#### ë¬¸ì œ 2-2
íƒ€ì´íƒ€ë‹‰ ë°ì´í„°ì—ì„œ ì„±ë³„(sex)ì™€ ìƒì¡´ì—¬ë¶€(survived) ë³€ìˆ˜ê°„ ë…ë¦½ì„± ê²€ì •ì„ ì‹¤ì‹œí•˜ì‹œì˜¤.

In [112]:
import seaborn as sns
df = sns.load_dataset("titanic")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [113]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

ì„±ë³„ ì»¬ëŸ¼ê³¼ ìƒì¡´ ì»¬ëŸ¼ì„ í¬ë¡œìŠ¤íƒ­ì„ ì´ìš©í•˜ì—¬ êµì°¨í‘œë¥¼ ë§Œë“  ë’¤ ê²€ì • ì§„í–‰

In [114]:
table = pd.crosstab(df['sex'], df['survived'])
table

survived    0    1
sex
female     81  233
male      468  109

##### 1. ê°€ì„¤ ì„¤ì •
H0 : ì„±ë³„ê³¼ ìƒì¡´ì—¬ë¶€ëŠ” ì„œë¡œ ê´€ë ¨ì´ ì—†ë‹¤. (ë‘ ë³€ìˆ˜ëŠ” ì„œë¡œ ë…ë¦½ì´ë‹¤.)         
H1 : ì„±ë³„ê³¼ ìƒì¡´ì—¬ë¶€ëŠ” ì„œë¡œ ê´€ë ¨ì´ ìˆë‹¤. (ë‘ ë³€ìˆ˜ëŠ” ì„œë¡œ ë…ë¦½ì´ ì•„ë‹ˆë‹¤.)

##### 2. ìœ ì˜ìˆ˜ì¤€ í™•ì¸
ìœ ì˜ìˆ˜ì¤€ 5%

##### 3. ê²€ì •ì‹¤ì‹œ(í†µê³„ëŸ‰, p-value í™•ì¸, ê¸°ëŒ€ë¹ˆë„ í™•ì¸)

In [117]:
import scipy.stats as stats
print(stats.chi2_contingency(table))
statistic, pvalue, dof, expected = stats.chi2_contingency(table)
print("p-value : ", round(pvalue, 4))

Chi2ContingencyResult(statistic=260.71702016732104, pvalue=1.1973570627755645e-58, dof=1, expected_freq=array([[193.47474747, 120.52525253],
       [355.52525253, 221.47474747]]))
p-value :  0.0

##### 4. ê·€ë¬´ê°€ì„¤ ê¸°ê°ì—¬ë¶€ ê²°ì •
p-value=0.0ìœ¼ë¡œ ìœ ì˜ìˆ˜ì¤€ 0.05ë³´ë‹¤ ì‘ìœ¼ë¯€ë¡œ ê·€ë¬´ê°€ì„¤ì„ ê¸°ê°            
ì¦‰, ì„±ë³„ê³¼ ìƒì¡´ì—¬ë¶€ëŠ” ì„œë¡œ ê´€ë ¨ì´ ìˆë‹¤ê³  í•  ìˆ˜ ìˆë‹¤.

-----
ì¹´ì´ì œê³±ì—ì„œ ê²€ì •í†µê³„ëŸ‰(ì¹´ì´ì œê³± ê°’)ì€ ê´€ì¸¡ë¹ˆë„ì™€ ê¸°ëŒ€ë¹ˆë„ì˜ ì°¨ì´ê°€ ì»¤ì§ˆìˆ˜ë¡ ì¹´ì´ì œê³± ê°’ë„ ì»¤ì§„ë‹¤.      
##### ë°ì´í„°ë¥¼ ë³€ê²½í•´ë³´ë©° ì´í•´í•˜ê¸°

In [118]:
# ì„ì˜ ë°ì´í„° ìƒì„±
sex, survived = [160, 160], [250, 220]
table = pd.DataFrame([sex, survived], columns=['0','1'], index=['female', 'male']) 
print(table)

          0    1
female  160  160
male    250  220

ìœ„ì˜ ì›ë³¸ ë°ì´í„°ì™€ ë¹„êµí–ˆì„ ë•Œ ê´€ì¸¡ ë¹ˆë„ì™€ ê¸°ëŒ€ë¹ˆë„ì˜ ì°¨ì´ê°€ ëœ ë‚¨

In [124]:
# 3. ê²€ì • ì‹œí–‰
import scipy.stats as stats
print(stats.chi2_contingency(table))
print(stats.chi2_contingency(table).pvalue)

Chi2ContingencyResult(statistic=0.6541895872879862, pvalue=0.41861876333789727, dof=1, expected_freq=array([[166.07594937, 153.92405063],
       [243.92405063, 226.07594937]]))
0.41861876333789727

ê²€ì •í†µê³„ëŸ‰ì´ ì‘ì•„ì§„ë‹¤ = p-valueê°€ ì»¤ì§„ë‹¤ = ê·€ë¬´ê°€ì„¤ ì±„íƒ

#### 4. ê·€ë¬´ê°€ì„¤ ê¸°ê° ì—¬ë¶€
p-value = 0.4186ìœ¼ë¡œ ìœ ì˜ìˆ˜ì¤€ 0.05ë³´ë‹¤ í¬ë¯€ë¡œ ê·€ë¬´ê°€ì„¤ ì±„íƒ         
ì¦‰, ì„±ë³„ê³¼ ìƒì¡´ì—¬ë¶€ëŠ” ì„œë¡œ ê´€ë ¨ì´ ì—†ë‹¤ê³  í•  ìˆ˜ ìˆë‹¤.